body {
  background-color: rgb(255, 255, 255);
  font-family: 'Permanent Marker', cursive;
}

#welcome {
  color: rgb(82, 0, 145);
}

#decision {
  text-align: center;
  color: rgb(82, 0, 145);
}

#player, #computer {
  text-align: center;
  margin-bottom: 30px;
}

#player span, #computer span {
  color: rgb(82, 0, 145);
  border-bottom: 10px solid gray;
  font-size: 3.56rem;
  line-height: 1.1;
}

#rock {
  margin-right: 10px;
  width: 150px;
  height: 150px;
}

#paper {
  margin-right: 10px;
  width: 150px;
  height: 150px;
}

#scissors {
  width: 150px;
  height: 150px;
}

.computerpic {
  width: 200px;
  height: 200px;
}

.topbarrow {
  background-color: rgb(11, 119, 70);
}

.result {
  width: 300px;
  height: 300px;
  margin-top: 25px;
  border-radius: 15%;

}

.polls {
  color: rgb(82, 0, 145);
}

.option-images {
  display: flex;
  justify-content: space-around;
}

.main-title {
  padding-bottom: 10px;
  margin-top: 0;
  color: rgb(82, 0, 145);
}

.option {
  color: rgb(82, 0, 145);
}

3
